body {
    margin: 0;
    background-image: url(https://oboi.ringtonz.ru/uploads/posts/2020-04/thumbs/1585914253_knigi_tsvety_razmytost_108950_1440x2560.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    text-align: center;
  }
 